{% extends "layout.html" %}
{% block content %}
<h1>{{ producto.nombre }}</h1>
<div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <a href="#"><img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}"></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="producto.html">Comprar</a>
              </h4>
          <h4 class="card-title">
            <p href="#">Stock: {{producto.stock}}</p>
          </h4>
          <h5>Precio: S/ {{producto.precio}}</h5>
          <h5>Categoria: {{producto.categoria}}</h5>
          <p class="card-text">{{producto.descripcion}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}